<div class="container"
     *ngIf="gameService.socketIsConnected; else socketConnectionFailed">
    <ng-container *ngIf="currentPlayer">
        <div class="game-wrapper">
            <app-player-platforms [playersNumbers]="gameService.playersNumbers | async"
                                  [currentPlayer]="currentPlayer"
                                  [allPlayers]="gameService.allPlayers | async"></app-player-platforms>

            <app-pong-ball [ballPosition]="gameService.ballPosition | async"></app-pong-ball>
        </div>

        <app-lose-image *ngIf="currentPlayer?.playerNumber === (gameService.loserPlayerNumber | async)"></app-lose-image>
    </ng-container>
</div>

<ng-template #socketConnectionFailed>
    <h2 class="m-40">Waiting for Socket Connection... Wait a little bit or try again later</h2>
</ng-template>
