<div class="player-platforms__wrapper"
     #playerPlatforms>
    <div *ngFor="let playerNum of GameConstants.AllPlayerNumbers"
         class="player player-{{playerNum}}">
        <div class="player-platform__wrapper player-platform__wrapper-{{playerNum}}">
            <div [class.not-active]="!playersNumbers?.includes(playerNum)"
                 [style.left.px]="currentPlayer.playerNumber === playerNum ? currentPlayer.leftValue : getPlatformLeftPosition(playerNum)"
                 class="player-platform player-platform__{{playerNum}}">
                <h6 class="player-name"
                    [class.active]="currentPlayer.playerNumber === playerNum"
                    [class.disabled]="!playersNumbers?.includes(playerNum)">
                    {{ allPlayers | getPlayerName: playerNum }} {{ allPlayers | getPlayerLoses: playerNum }}
                </h6>
            </div>
        </div>
    </div>
</div>
